

 <!-- Create table  -->


<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

       
     <!-- company_id Column -->
      <ng-container matColumnDef="company_id">
         <th mat-header-cell *matHeaderCellDef> Company-id </th>
         <td mat-cell *matCellDef="let element"> {{element.company_id}} </td>
      </ng-container>


        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        
        <!-- address Column -->
        <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef> Address </th>
            <td mat-cell *matCellDef="let element"> {{element.address}} </td>
        </ng-container>

         <!-- country Column -->
        <ng-container matColumnDef="country">
            <th mat-header-cell *matHeaderCellDef> Country </th>
            <td mat-cell *matCellDef="let element"> {{element.country}} </td>
        </ng-container>


<ng-container matColumnDef="customer-button">
    <th mat-header-cell *matHeaderCellDef> Customer </th>
    <td mat-cell *matCellDef="let element"> 
    
        <button mat-raised-button [routerLink]="['add-customer',element.company_id]">
           Add
        </button>
    </td>
</ng-container>

<!-- delete button -->
<ng-container matColumnDef="company-button-delete">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
        <button mat-raised-button (click)="removeCompany(element.company_id)">
            Delete
        </button>
    </td>
</ng-container>




        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>