<form class="customer-form">

    <mat-form-field class="example-full-width">
        <input matInput [(ngModel)]="newCustomer.firstName" placeholder="Enter First Name"
            name="firstName" value="">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput [(ngModel)]="newCustomer.lastName" placeholder="Enter Last Name" name="lastName"
            value="">
    </mat-form-field>
    
    <mat-form-field class="example-full-width">
        <input matInput [(ngModel)]="newCustomer.email" type="email" placeholder="Enter Email" name="email"
            value="">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput [(ngModel)]="newCustomer.phone" type="tel" placeholder="Enter Phone number" name="tel"
            value="">
    </mat-form-field>
    <br>
    <button mat-raised-button (click)="addCustomer(newCustomer)">Add Customer</button>
</form>