.welcome {
    font-weight: bold;
    font-size: 2ex;
}

.mat-toolbar.mat-primary {
    background:#7D4E57;
    color: #fff;
}


a{
color: #FFFFFF;
text-decoration: none;
}

.nav-companies {
  position: relative;
  margin-left: 25px;
}

.nav-customers {
  position: relative;
  margin-left: 25px;
   
}

.nav-companies:hover {
  cursor: pointer;
  transform: scale(1.1)
}

.nav-customers:hover {
  cursor: pointer;
  transform: scale(1.1)
}

a.active {
    font-weight: bold ; 
    transform: scale(1.1) ; 
}