
<div style="text-align:center">
    <mat-toolbar color="primary">
        <h1 class="welcome">
            CompanySales 
        </h1>
        <span class="nav-companies">
            <a routerLink="/"
             routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Companies</a>
        </span>
        <span class="nav-customers">
            <a routerLink="/customers"
             routerLinkActive="active">Customers</a>
        </span>

    </mat-toolbar>

<router-outlet></router-outlet>